@import "tailwindcss";

html, body {
  background-color: #020617 !important;
  color: #f8fafc !important;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 9999px;
}
